backup:
  tmpDir: tmp
  filenameTimeForamt: 2006-01-02T15:04:05+08:00
  keepDays: 30
  prefix: "test-"
  cron: "*/1 * * * *" # every minute

dropbox:
  token: 
  log: true
  folder: /database-backup

source:
  dockerContainerId: ""
  type: postgres # postgres/mysql
  host: localhost
  port: 3306
  username: root
  password: 
  dbs:
    - xxx
